resources/complex-type.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://integration.sjv.se/hanteraprogram/programinfo/model/program_1.0"
	targetNamespace="http://integration.sjv.se/hanteraprogram/programinfo/model/program_1.0"
	elementFormDefault="qualified">
	<xs:element name="employee">
	  <xs:complexType>
	    <xs:sequence>
	      <xs:element name="firstname" type="xs:string"/>
	      <xs:element name="lastname" type="xs:string"/>
	    </xs:sequence>
	  </xs:complexType>
	</xs:element>
</xs:schema>
